body {
    margin: 0;
}

* {
    box-sizing: border-box;
} 

.container {
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    display: block;
}

/* TOP CONTENT */
.top-content {
    background-image: url("../img/street-background.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway',sans-serif;
    color: #FFF;
    display: block;
    clear: both;
    overflow: hidden;
    padding-bottom: 60px;
    
}

.top-content 
.col {
    float: left;
    width: 49%;
}

.top-content 
.col:last-child {
    width: 51%;
}

header {
    padding-bottom: 30px;
}

header
.logo {
    margin: 10px auto;
    display: block;
    height: 70px;
}

.top-content 
.img-mobile {
    height: 80%;
    margin: 0 auto;
    display: block;
}

.top-content 
.title {
    margin-top: 120px;
    font-size: 40px;
    font-weight: normal;
}

.top-content 
.park {
    font-weight: bold;
}

.top-content 
.content {
    font-size: 25px;
}

.top-content 
.text-reserve {
    font-size: 25px;
    padding-bottom: 30px;
    margin-top: -20px;
}

.btn-top {
    font-size: 20px;
    text-align: center;
    color: #FFF;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Raleway',sans-serif;
    text-decoration: none;
}

.btn-download-app {
    padding: 20px 25px;
    background-color: #F8A01E;
    border: 2px solid transparent;
}

.btn-learn-more {
    padding: 20px 40px;
    background: transparent;
    border: 2px solid #FFF;
    margin-left: 20px;
}

/* DESCRIPTION CONTENT */

.desc-content {
    background-color: #FFF;
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    color: #3D3D3D;
    padding-left: 30px;
    clear: both;
    margin: 0 50px;
}

.description {
    float: left;
    margin-top: 100px;
    width: 25%;
    padding: 20px;
    margin-bottom: 20px;
    line-height: 1.8;
}

.desc-content 
.text {
    margin-bottom: -15px;
    font-size: 22px;
    font-weight: bold;
}

.icon-desc-global {
    margin-top: -6px;
}

/* DISCOVER CONTENT */

.discover-content {
    background-color: #FFF;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    color: #3D3D3D;
    overflow: hidden;
    display: block;
    clear: both;
    padding-top: 100px;
    padding-bottom: 150px;
}

.discover-content 
.col {
    float: left;
    width: 50%;
}

.discover-content 
.col:last-child {
    width: 50%;
}

.discover-content-mobile-android {
    height: 80%;
    margin-left: -17px;
}

.discover-content-mobile-ios {
    height: 80%;
    padding-left: 20px;
}

.discover-content 
.text {
    margin-right: 120px;
    margin-top: 10px;
    font-size: 55px;
    margin-bottom: 0;
}

.discover-content 
.link {
    text-decoration: none;
}

.discover-content 
.btn-google{
    height: 120px;
    width: 300px;
    margin-left: -40px; 
}

.discover-content 
.btn-apple{
    height: 120px;
    width: 300px;
    margin-left: -25px;
}

.discover-content 
.link-google {
    text-decoration: none;
}

.discover-content 
.link-apple {
    text-decoration: none;
}

.discover-content 
.content {
    margin-bottom: 80px;
    font-size: 20px;
    margin-right: 90px;
    line-height: 2;
}

.button-google {
    display: block;
    background: #212121;
    background-image: url("../img/google-playstore3.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 65px;
    padding: 10px;
    color: white;
    height: 70px;
    font-size: 10px;
    width: 251px;
    text-decoration: none;
    border-radius: 60px;
    font-family: 'Montserrat',sans-serif;
    float: left;
}

.button-apple {
    display: block;
    background: #212121;
    background-image: url("../img/apple-appstore3.png");
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 60px;
    padding: 10px;
    color: white;
    height: 70px;
    font-size: 10px;
    width: 251px;
    text-decoration: none;
    border-radius: 60px;
    font-family: 'Montserrat',sans-serif;
    float: right;
    margin-right: 90px;
}

.text-download {
    margin-bottom: -15px;
    margin-top: 12px;
    margin-left: 58px;
    font-weight: normal;
}

.text-google {
    font-size: 14px;
    margin-left: 58px;
    font-weight: bold;
}
/* UI CONTENT */

.ui-content {
    background-color: #fC7E10;
    font-family: 'Raleway',sans-serif;
    color: #FFF;
    padding-top: 50px;
}

.ui-content 
.col{
    float: left;
    width: 50%;
}

.ui-content 
.col:last-child {
    width: 50%;
}

.ui-content-mobile {
    height: 80%;
    padding-bottom: 40px;
}

.ui-content 
.text {
    padding-left: 40px;
    font-size: 50px;
    margin-bottom: 0;
}

.ui-content ul {
    list-style-type: none;
    font-size: 20px;
    font-family: 'Open Sans',sans-serif;
    line-height: 50px;
    margin-left: 10px;
}

.ui-content li span { 
    position: relative; 
    left: 15px; 
}

/* CONTACT CONTENT */

.contact-content {
    background-color: #DDDDDD;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    color: #3D3D3D;
    padding: 80px 0;
}

.contact-content 
.text {
    margin-top: -9px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.contact-content 
.content {
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.btn-submit {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 100px;
    text-align: center;
    background-color: #FC7E10;
    color: #FFF;
    border: 2px solid transparent;
    border-radius: 40px;
    margin-top: 30px;
    margin-left: 450px;
    cursor: pointer;
    font-family: 'Open Sans',sans-serif;
}

.contact-content 
.text-name {
    margin-left: 340px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 250px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: 'Open Sans',sans-serif;
}

.contact-content 
.text-address {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    margin-left: 15px;
    width: 250px;
    border: 1px solid transparent;
    border-radius: 4px;
}

/* FOOTER */
footer {
    background-color: #60615C;
    color: #FFF;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
}

footer 
.col {
    float: left;
    padding: 50px 0;
}

footer 
.col:last-child{
    float: right;
    padding: 50px 0;
}

footer a {
    text-decoration: none;
    color: #FFF;
    padding-right: 4px;
}

footer a:last-child {
    margin-right: -4px;
}

footer 
.text {
    text-align: right;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: normal;

}

.footer-link {
    text-decoration: none;
}

footer 
.img {
    height: 40px;
}

footer 
.col 
.privacy::after {
    margin: 0 5px;
    content: '\2022';
}

footer .text-privacy-terms {
    margin-bottom: -10px;
}
