/* TOP CONTENT */
.section {
    padding: 50px 70px;
    display: block;
    clear: both;
    overflow: hidden;
}

.top-content {
    background-image: url("../img/street-background.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway',sans-serif;
    color: #FFF;
    padding-bottom: 60px;
}

header {
    padding: 20px 0px;
}

.top-content .title {
    margin-top: 120px;
    font-size: 40px;
    font-weight: normal;
}

.top-content .content {
    font-size: 25px;
}

.top-content .text-reserve {
    font-size: 25px;
    padding-bottom: 35px;
    margin-top: -15px;
}

.btn-download-app {
    font-size: 20px;
    padding: 20px 30px;
    background-color: #F8A01E;
    border: 2px solid transparent;
    margin-left: 15px;
    color: #FFF;
    text-decoration: none !important;
}

.btn-learn-more {
    font-size: 20px;
    padding: 20px 40px;
    background: transparent;
    border: 2px solid #FFF;
    margin-left: 20px;
    color: #FFF;
    text-decoration: none !important;
}

.top-left {
    left: 50px;
}

.top-content span {
    padding-left: 10px;
}

/* DESCRIPTION CONTENT */

.desc-content {
    background-color: #FFF;
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    color: #3D3D3D;
}

.description {
    margin-top: 120px;
    margin-bottom: 80px;
    line-height: 1.8;
    padding-right: 12px;
}

.icon-desc {
    margin-bottom: 10px;
    margin-left: -15px;
    height: 50px;
    width: 80px;
}

.icon-desc-places {
    margin-left: -15px;
    margin-bottom: 10px;
    height: 50px;
    width: 70px;
}

/* DISCOVER CONTENT */

.discover-content {
    background-color: #FFF;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    color: #3D3D3D;
    overflow: hidden;
    display: block;
    clear: both;
    padding-top: 70px;
    padding-bottom: 155px;
}

.discover-content .mobile-phone {
    margin: 0 auto;
    display: inline-block;
}

.discover-content-mobile-ios {
    padding-right: 0px;
    margin-left: -20px;
}

.discover-content-mobile-android {
    padding-left: 0px;
}

.discover-content .text {
    margin-right: 100px;
    margin-top: 0px;
    font-size: 55px;
}

.discover-content .content {
    margin-top: 20px;
    margin-bottom: 60px;
    font-size: 22px;
    line-height: 2;
}

.mobile-phone {
    margin: 0 auto;
    display: block;
    clear: both;
}

.button-google {
    background: #212121;
    background-image: url("../img/google-playstore3.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 65px;
    box-shadow: 0px 0px 20px #888888;
    color: white;
    font-size: 10px;
    width: 260px;
    text-decoration: none !important;
    border-radius: 60px;
    font-family: 'Montserrat',sans-serif;
    float: left;
}

.button-apple {
    background: #212121;
    background-image: url("../img/apple-appstore3.png");
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 60px;
    box-shadow: 0px 0px 20px #888888;
    color: white;
    height: 70px;
    font-size: 10px;
    width: 260px;
    text-decoration: none !important;
    border-radius: 60px;
    font-family: 'Montserrat',sans-serif;
    float: right;
    margin-right: 20px;
}

.btn-group {
    display: block;
    margin: 0 auto;
}

.text-download {
    margin-bottom: 0px;
    margin-top: 12px;
    margin-left: 58px;
    font-weight: normal;
}

.text-google {
    font-size: 14px;
    margin-left: 58px;
    font-weight: bold;
}
/* UI CONTENT */

.ui-content {
    background-color: #fC7E10;
    font-family: 'Raleway',sans-serif;
    color: #FFF;
    padding-top: 40px;
    padding-bottom: 10px
}

.ui-content-mobile {
    padding-bottom: 40px;
    margin: 0 auto;
    display: block;
}

.ui-content .text {
    padding-left: 40px;
    font-size: 50px;
    padding-top: 30px;
}

.ui-content ul {
    list-style-type: none;
    font-size: 20px;
    font-family: 'Open Sans',sans-serif;
    line-height: 50px;
    margin-left: 10px;
    padding-top: 15px;
}

.ui-content li span { 
    position: relative; 
    left: 15px; 
}

.ui-content .fa {
    width: 20px;
}

/* CONTACT CONTENT */

.contact-content {
    background-color: #DDDDDD;
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    color: #3D3D3D;
    padding: 80px 0;
}

.contact-content .text {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.contact-content .content {
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.btn-submit {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 100px;
    text-align: center;
    background-color: #FC7E10;
    color: #FFF;
    border: 2px solid transparent;
    border-radius: 40px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    font-family: 'Open Sans',sans-serif;
}

.contact-form {
    width: 60%;
    margin: 0 auto;
    float: none;
}

.contact-content .text-name, .text-address {
    border: 1px solid transparent;
    border-radius: 0px;
    box-shadow: 0px 0px 0px;
}


/* FOOTER */

footer {
    background-color: #60615C;
    color: #FFF;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
}

footer .col {
    float: left;
    padding: 50px 0;
}

footer .col:last-child{
    float: right;
    padding: 50px 0;
}

footer a {
    text-decoration: none !important;
    color: #FFF;
    padding-right: 4px;
}

footer a:last-child {
    margin-right: -4px;
}

footer .text {
    text-align: right;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: normal;
}

.footer-link {
    text-decoration: none;
}

footer .img {
    height: 40px;
}

footer .right {
    float: right;
}

footer .col .privacy::after {
    margin: 0 5px;
    content: '\2022';
}

footer .text-privacy-terms {
    margin-bottom: -10px;
    margin-top: 10px;
}

footer .text-copyright {
    margin-top: 15px;
}

@media (min-width: 320px) and (max-width: 465px) { 
    .top-content .title{
        margin-top: 60px;
        font-size: 20px;
    }

    .top-content .content {
        font-size: 11px;
    }

    .top-content .text-reserve {
        font-size: 14px;
        padding-bottom: 20px;
        margin-top: -10px;
    }

    .top-content .top-left {
        position: center;
        margin: 0 auto;
        display: block;
        float: none;
        text-align: center;
        margin-left: -60px;
        margin-bottom: 60px;
    } 

    .btn-learn-more {
        padding: 20px 12px;
        margin-left: 20px;
        width: 100px;
        font-size: 12px;
    }

    .btn-download-app {
        padding: 20px 12px;
        font-size: 12px;
        margin-left: 0px;
    }

    /*DESC CONTENT*/
    .desc-content .description {
        margin: 100px auto 5px;
    }

    .desc-content  h3 {
        margin-top: -5px;
        font-size: 20px;
    }

    .desc-content p {
        font-size: 15px;
    }

    /*DISCOVER CONTENT*/

    .discover-content .mobile-phone {
        display: block;
        margin: 0 auto;
        float: none;
        margin-left: 80px;
        margin-right: 80px;
    }

    .discover-content .text {
        font-size: 35px;
        margin-top: 50px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .discover-content .content {
        line-height: 1.5;
        text-align: center;
        font-size: 16px;
    }

    .discover-content .btn-group {
        margin: 0 auto;
        display: block;
    }

    .discover-content .button-google {
        width: 215px;
    }

    .discover-content .button-apple {
        width: 215px;
    }

    .discover-content .text-download {
        font-size: 8px;
        margin-bottom: 2px;
    }

    .discover-content .text-google {
        font-size: 11px;
    }

     /*UI CONTENT*/

    .ui-content .text {
        text-align: center;
        font-size: 35px;
        margin-top: -10px;
        margin-left: -30px;     
    }

    .ui-content ul {
        margin: 0 auto;
        display: block;
        margin-bottom: 40px;
        margin-left: -60px;
        list-style-type: none;
        font-size: 15px;
        font-family: 'Open Sans',sans-serif;
        line-height: 40px;
        text-align: center;
    }

    .ui-content li span { 
        position: relative; 
        left: 15px; 
    }

    .ui-content-mobile {
        margin-top: 80px;
    }

    .contact-content .text {
        font-size: 25px;
    }

    .contact-content .content {
        font-size: 15px;
    }

    .contact-content .btn-submit {
        margin: 0 auto;
        display: block;
        margin-left: -40px;
        position: center;
        font-size: 14px;
    }

    /* FOOTER */
    
    footer .col {
        padding-top: 20px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        position: center;
        margin-left: 10px;
        text-align: center;
        font-size: 12px;
    } 

    footer .col:last-child {
        padding-top: 0px;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 12px;
    }

    footer .text {
        text-align: center;
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 10px;
        font-weight: normal;
        font-size: 12px;
    }

    footer a {
        text-align: initial;
    }

    footer .right {
        float: none;
        text-align: center;
        padding-bottom: 20px;
    }

    footer .text-copyright {
        margin-top: 15px;
    }
}

@media (min-width: 466px) and (max-width: 524px) { 
    .top-content .title{
        margin-top: 60px;
        font-size: 20px;
    }

    .top-content .content {
        font-size: 12px;
    }

    .top-content .text-reserve {
        font-size: 14px;
        padding-bottom: 20px;
        margin-top: -10px;
    }

    .top-content .top-left {
        position: center;
        margin: 0 auto;
        display: block;
        float: none;
        text-align: center;
        margin-left: -60px;
        margin-bottom: 60px;
    } 

    .btn-learn-more {
        padding: 20px 12px;
        margin-left: 20px;
        width: 100px;
        font-size: 12px;
    }

    .btn-download-app {
        padding: 20px 12px;
        font-size: 12px;
        margin-left: 0px;
    }

    /*DESC CONTENT*/

    .desc-content .description {
        margin: 100px auto 5px;
    }

    .desc-content  h3 {
        margin-top: -5px;
        font-size: 20px;
    }

    .desc-content p {
        font-size: 15px;
    }

    /*DISCOVER CONTENT*/

    .discover-content .mobile-phone {
        display: block;
        margin: 0 auto;
        float: none;
        margin-left: 100px;
        margin-right: 100px;
    }

    .discover-content .text {
        font-size: 40px;
        margin-top: 50px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .discover-content .content {
        line-height: 1.5;
        text-align: center;
        font-size: 18px;
    }

    .discover-content .btn-group {
        margin: 0 auto;
        display: block;
    }

    .discover-content .button-google {
        width: 220px;
        float: left;
    }

    .discover-content .button-apple {
        width: 220px;
        float: right;
    }

    .discover-content .text-download {
        font-size: 8px;
        margin-bottom: 2px;
    }

    .discover-content .text-google {
        font-size: 11px;
    }

     /*UI CONTENT*/

    .ui-content .text {
        text-align: center;
        font-size: 35px;
        margin-top: -10px;     
    }

    .ui-content-mobile {
        margin-top: 80px;
    }

    .ui-content ul {
        margin: 0 auto;
        display: block;
        margin-bottom: 40px;
        margin-left: -30px;
        list-style-type: none;
        font-size: 15px;
        font-family: 'Open Sans',sans-serif;
        line-height: 40px;
        text-align: center;
    }

    .ui-content li span { 
        position: relative; 
        left: 15px; 
    }

    .contact-content .text {
        font-size: 25px;
    }

    .contact-content .content {
        font-size: 18px;
    }

    .contact-content .btn-submit {
        margin: 0 auto;
        display: block;
        position: center;
        font-size: 15px;
    }

    /* FOOTER */
    
    footer .col {
        padding-top: 20px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        position: center;
        margin-left: 10px;
        text-align: center;
        font-size: 12px;
    } 

    footer .col:last-child {
        padding-top: 0px;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 12px;
    }

    footer .text {
        text-align: center;
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 10px;
        font-weight: normal;
        font-size: 12px;
    }

    footer a {
        text-align: initial;
    }

    footer .right {
        float: none;
        text-align: center;
        padding-bottom: 20px;
    }

    footer .text-copyright {
        margin-top: 15px;
    }
}

@media (min-width: 525px) and (max-width: 615px) { 
    .top-content .title{
        margin-top: 60px;
        font-size: 20px;
    }

    .top-content .content {
        font-size: 12px;
    }

    .top-content .text-reserve {
        font-size: 14px;
        padding-bottom: 20px;
        margin-top: -10px;
    }

    .top-content .top-left {
        position: center;
        margin: 0 auto;
        display: block;
        float: none;
        text-align: center;
        margin-left: -60px;
        margin-bottom: 60px;
    } 

    .btn-learn-more {
        padding: 20px 12px;
        margin-left: 20px;
        width: 100px;
        font-size: 12px;
    }

    .btn-download-app {
        padding: 20px 12px;
        font-size: 12px;
        margin-left: 0px;
    }

    /*DESC CONTENT*/

    .desc-content .description {
        margin: 100px auto 0px;
    }

    .desc-content  h3 {
        margin-top: -5px;
        font-size: 20px;
    }

    .desc-content p {
        font-size: 15px;
    }

    /*DISCOVER CONTENT*/

    .discover-content .mobile-phone {
        display: block;
        margin: 0 auto;
        float: none;
        margin-left: 100px;
        margin-right: 100px;
    }

    .discover-content .text {
        font-size: 37px;
        margin-top: 50px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .discover-content .content {
        line-height: 1.5;
        text-align: center;
        font-size: 16px;
    }

    .discover-content .btn-group {
        margin: 0 auto;
        display: block;
    }

    .discover-content .button-google {
        width: 215px;
    }

    .discover-content .button-apple {
        width: 215px;
    }

    .discover-content .text-download {
        font-size: 9px;
        margin-bottom: 2px;
    }

    .discover-content .text-google {
        font-size: 11px;
    }
    
     /*UI CONTENT*/
    
    .ui-content .text {
        margin: 0 auto;
        display: block;
        text-align: center;
        font-size: 35px;
        margin-top: -10px;     
    }

    .ui-content-mobile {
        margin-top: 80px;
    }

    .ui-content ul {
        margin: 0 auto;
        display: block;
        margin-bottom: 40px;
        margin-left: -30px;
        list-style-type: none;
        font-size: 18px;
        font-family: 'Open Sans',sans-serif;
        line-height: 50px;
        text-align: center;
    }

    .ui-content li span { 
        position: relative; 
        left: 15px; 
    }

    .contact-content .text {
        font-size: 25px;
    }

    .contact-content .content {
        font-size: 18px;
    }

    .contact-content .btn-submit {
        position: center;
    }

    /* FOOTER */
    
    footer .col {
        padding-top: 20px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        position: center;
        margin-left: 10px;
        text-align: center;
        font-size: 12px;
    } 

    footer .col:last-child {
        padding-top: 0px;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 12px;
    }

    footer .text {
        text-align: center;
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 10px;
        font-weight: normal;
        font-size: 12px;
    }

    footer a {
        text-align: initial;
    }

    footer .right {
        float: none;
        text-align: center;
        padding-bottom: 20px;
    }

    footer .text-copyright {
        margin-top: 15px;
    }
}

@media (min-width: 616px) and (max-width: 767px) {
    .top-content .title {
        margin-top: 60px;
        font-size: 30px;
    }

    .top-content .content {
        font-size: 15px;
    }

    .top-content .text-reserve {
        font-size: 18px;
        padding-bottom: 20px;
        margin-top: -10px;
    }

    .top-content .top-left {
        position: center;
        margin: 0 auto;
        display: block;
        float: none;
        text-align: center;
        margin-left: -60px;
        margin-bottom: 60px;
    } 

    .btn-learn-more {
        padding: 20px 12px;
        margin-left: 25px;
        width: 100px;
        font-size: 18px;
    }

    .btn-download-app {
        padding: 20px 12px;
        font-size: 18px;
        margin-left: 0px;
    }

    .desc-content {
        padding-top: 50px;
    }

    .description {
        margin: 60px auto 60px;
    }
    /*DISCOVER CONTENT*/

    .discover-content .mobile-phone {
        display: block;
        margin: 0 auto;
        float: none;
        margin-left: 100px;
        margin-right: 100px;
    }

    .discover-content .text {
        font-size: 40px;
        margin-top: 50px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }

    .discover-content .content {
        line-height: 1.5;
        text-align: center;
        font-size: 17px;
    }

    .discover-content .btn-grp {
        max-width: 100px;

    }
     /*UI CONTENT*/
    .ui-content .text {
        text-align: center;
        font-size: 35px;
        margin-top: -10px;     
    }

    .ui-content-mobile {
        margin-top: 50px;
    }

    .ui-content ul {
        margin: 0 auto;
        display: block;
        margin-bottom: 40px;
        margin-left: -30px;
        list-style-type: none;
        font-size: 18px;
        font-family: 'Open Sans',sans-serif;
        line-height: 50px;
        text-align: center;
    }

    .ui-content li span { 
        position: relative;
    }

    .contact-content .btn-submit {
        position: center;
    }

    /* FOOTER */
    
    footer .col {
        padding-top: 20px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        position: center;
        margin-left: 10px;
        text-align: center;
        font-size: 12px;
    } 

     footer .col:last-child {
        padding-top: 0px;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 12px;
    }

    footer .text {
        text-align: center;
        font-size: 18px;
        margin-top: 0px;
        margin-bottom: 10px;
        font-weight: normal;
        font-size: 14px;
    }

    footer a {
        text-align: initial;
    }

    footer .right {
        float: none;
        text-align: center;
        padding-bottom: 20px;
    }

    footer .text-copyright {
        margin-top: 15px;
    }
}

@media (min-width: 768px) and (max-width: 992px) { 
    .container {
      margin-right: auto;
      margin-left: auto;
    }

    .top-content .title{
        margin-top: 60px;
        font-size: 40px;
    }

    .top-content .content {
        font-size: 20px;
    }

    .top-content .text-reserve {
        font-size: 20px;
        padding-bottom: 20px;
        margin-top: -10px;
    }

    .top-content .top-left {
        position: center;
        margin: 0 auto;
        display: block;
        float: none;
        text-align: center;
        margin-left: -60px;
        margin-bottom: 60px;
    } 

    .btn-download-app {
        padding: 20px 70px;
        font-size: 25px;
        float: left;
    }

    .btn-learn-more {
        padding: 20px 70px;
        float: right;
        font-size: 25px;
    }

    /*DESC CONTENT*/

    .desc-content {
        padding-top:  60px;
    }

    .desc-content .description {
        margin: 60px auto;
    }

    .desc-content  h3 {
        margin-top: -5px;
    }

    /*DISCOVER CONTENT*/

   .discover-content .mobile-phone {
        display: block;
        margin: 0 auto;
        float: none;
        height: 550px;
    }

    .discover-content .text {
        font-size: 50px;
        margin-top: 20px;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 50px;
    }

    .discover-content .content {
        line-height: 1.5;
        text-align: center;
    }

    .button-google {
        margin-left: 50px;
    }

    .button-apple {
        margin-right: 80px;
    }

    /*UI CONTENT*/
    .ui-content .text {
        text-align: center;
        font-size: 35px;
        margin-top: -10px;     
    }

    .ui-content ul {
        margin: 0 auto;
        display: block;
        margin-bottom: 40px;
        margin-left: -20px;
        list-style-type: none;
        font-size: 18px;
        font-family: 'Open Sans',sans-serif;
        line-height: 50px;
        text-align: center;
    }

    .ui-content li span { 
        position: relative; 
    }

    .contact-content .btn-submit {
        margin: 0 auto;
        display: block;
        margin-left: 50px;
        position: center;
    }

    /* FOOTER */
    
    footer .col {
        padding-top: 20px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        position: center;
        margin-left: 10px;
        text-align: center;
        font-size: 12px;
    } 

     footer .col:last-child {
        padding-top: 0px;
        padding-bottom: 20px;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 12px;
    }

    footer .text {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 10px;
        font-weight: normal;
        font-size: 14px;
    }

    footer a {
        text-align: center;
    }

    footer .right {
        margin-right: 265px;
        padding-bottom: 20px;
    }

    footer .text-copyright {
        margin-top: 15px;
    }
}

@media (min-width: 993px) and (max-width: 1200px) { 
   .top-content .title {
        margin-top: 60px;
    }

    .discover-content .mobile-phone {
        display: block;
        overflow: hidden;
    }

    .discover-content .text {
        font-size: 50px;
        margin-top: 40px;
    }

    .discover-content .text {
        margin-right: 120px;
        margin-top: 10px;
        font-size: 45px;
    }

    .discover-content .content {
        margin-top: 30px;
        margin-bottom: 50px;
        font-size: 19px;
        line-height: 2;
    }

    .button-google, 
    .button-apple {
        width: 210px;
    }

    .text-download {
        margin-bottom: 0px;
        font-size: 8px;
    }

    .text-google {
        font-size: 10px;
    }

    /*UI CONTENT*/

    .ui-content-mobile {
        display: block;
        overflow: hidden;
        margin: 0 auto;
    }

    .ui-content .text {
        text-align: center;
        font-size: 40px;
    }

    .ui-content ul {
        list-style-type: none;
        font-size: 20px;
        font-family: 'Open Sans',sans-serif;
        line-height: 50px;
        margin-left: 45px;
    }

    .ui-content li span { 
        position: relative; 
        left: 15px; 
    }

    .contact-content .btn-submit {
        position: center;
        margin: 0 auto;
        display: block;
        margin-left: -20px;
    }

}