header {
	border: 2px solid #000;
	height: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	margin-bottom: 10px;
}
  
nav {
	border: 2px solid #000;
	height: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	margin-bottom: 10px;
}
  
.main-content {
  	height: 50%;
}

section {
	border: 2px solid #000;
	text-align: center;
	width: 59%;
	height: 170px;
	float: left;
	padding-top: 10px;
	margin-bottom: 10px;
}
  
article {
	border: 2px solid #000;
	text-align: center;
	width: 59%;
	height: 170px;
	float: left;
	padding-top: 10px;
	margin-bottom: 10px;
}
  
aside {
	border: 2px solid #000;
	text-align: center;
  	width: 40%;
  	height: 365px;
  	float: right;
  	padding-top: 10px;
}

footer {
	border: 2px solid #000;
	text-align: center;
	width: 100%;
	height: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-top: 400px;
}
  