body {
  	margin: 0;
 }

header {
	background-color: #D0FFDD;
	height: 60px;
	text-align: left;
	font-family: Arial;
	padding-left: 10px;
}
 
.main-content {
  	height: 500px;
  	padding: 10px;
  	background-color: #FF9FA0;
  	text-align: left;
	font-family: Arial;
}
  
ul {
	list-style: none;
	margin-left: -30px;
}

li {
	width: 59%;
	height: 120px;
	float: left;
	padding-top: 10px;
	margin-bottom: 15px;
	background-color: #A4E4FF;
	text-align: left;
	padding-left: 10px;
	font-family: Arial;
}
  
aside {
	width: 38%;
	height: 410px;
	float: right;
	padding-top: 10px;
	background-color: #A4E4FF;
	text-align: left;
	padding-left: 10px;
	font-family: Arial;
}
  
footer {
	width: 100%;
	height: 50px;
	padding-top: 10px;
	padding-bottom: 20px;
	background-color: #83FF9F;
	text-align: left;
	font-family: Arial;
}
  