body {
    background-color: #3b5998;
}

.txt-title {
    font-family: 'Montserrat',sans-serif;
    font-weight: 600;
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
}

.section {
    background-color: #3b5998;
    margin-top: 20px;
    position: center;
    border: 10px solid #8b9dc3;
    border-radius: 40px;
    font-family: 'Raleway',sans-serif;
    color: #FFF;
}

.main {
    color: #FFF;
    width: 35%;
    margin-left: 4px;
    margin-top: 10px;
}

.content {
    margin: 0 auto;
    display: block;
    margin-left: 240px;
}

.img-cat {
    margin-top: 30px;
    margin-left: 25px;
}

.txt {
    margin-top: 30px;
    font-size: 15px;
    margin-left: 30px;
}

.txt-count {
    font-size: 40px;
    margin-top: -10px;
}

.btn-section {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.btn-reset {
    margin-top: -30px;
    margin-bottom: 25px;
}